#multiplayerstats{
    width: 500px;
    margin: 20px auto 0;
    font-family: 'Bitter', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #efefee;


    @include transition-property(all);
    @include transition-duration(0.7s);
    @include transition-timing-function(ease-in-out);
    @include translate(0, 0);

    &.out{
        opacity: 0;
        @include translate(0, 20px);
    }

    .code{
        display: inline-block;
        width: 170px;
        margin-left: 10px;
        position: relative;
        top: -6px;
    }

    span {
        font-family: 'Arial';
        font-size: 1.2em;
        color: #ffe15f;
        line-height: 2em;
    }

    .controller{
        width: 17px;
        height: 25px;
        background: url('../img/phone.png') center center no-repeat;
        display: inline-block;

        @include transition-property(all);
        @include transition-duration(0.7s);
        @include transition-timing-function(ease-in-out);

        &.dim{
            opacity: 0.3;
        }
    }
}