@import "compass";

@font-face {
    font-family: 'sequibold';
    src: url('fonts/sequi_bold-webfont.eot');
    src: url('fonts/sequi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sequi_bold-webfont.woff') format('woff'),
         url('fonts/sequi_bold-webfont.ttf') format('truetype'),
         url('fonts/sequi_bold-webfont.svg#sequibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "compass/reset";

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    @include background-image(linear-gradient(#3c3449, #1f1f21));
}

h1 {
    font-family: 'sequibold';
    color: #efefef;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}

#login {
    margin: 2em auto;
    width: 268px;
    padding: 0;
}

#game-id {
    @include appearance(none);
    background-color: #332e3d;
    border: 2px solid #4e485b;
    @include border-radius(2px);
    color: #fff;
    font-size: 26px;
    text-align: center;
    height: 65px;
    padding: 0;
    outline: 0;
    width: 266px;
    margin: 0 auto 0.7em;
    font-family: 'sequibold';
}

#game-id-submit {
    @include appearance(none);
    background-color: #efefef;
    border: 0px;
    color: #4e485b;
    font-size: 1em;
    font-family: 'sequibold';
    @include border-radius(2px);
    height: 63px;
    cursor: pointer;
    width: 82px;
    float: right;
}

#speedSlider {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    h1 {
        font-size: 1.9em;

        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease-in-out);

        @include translate(0, 0);
        @include opacity(1);
        @include transition-delay(0.8s);
    }

    .speed-o-meter {
        position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -55px;
        background: url('../img/sprite2.png') no-repeat 0 0;
        background-size: 126px 96px;
        width: 110px;
        height: 52px;

        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease-in-out);

        @include translate(0, 0);
        @include opacity(1);
        @include transition-delay(0.6s);

        .needle-holder {
            width: 14px;
            height: 14px;
            @include border-radius(14px);
            background-color: #efefef;
            position: absolute;
            top: 46px;
            left: 50%;
            margin-left: -7px;
        }

        .needle {
            background: url('../img/sprite2.png') no-repeat -116px -65px;
            background-size: 126px 96px;
            width: 8px;
            height: 31px;
            position: absolute;
            top: 22px;
            left: 50%;
            margin-left: -4px;
            -webkit-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            -o-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            transform: rotate(-90deg);
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg);
        }
    }

    .speed-instructions {
        width: 284px;
        display: block;
        position: absolute;
        text-align: center;
        top: 160px;
        left: 50%;
        margin-left: -142px;
        @include border-radius(3px);
        background-color: rgba(0, 0, 0, 0.2);
        line-height: 40px;

        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease-in-out);

        @include translate(0, 0);
        @include opacity(1);
        @include transition-delay(0.4s);

        &:before {
            content: ' ';
            background: url('../img/sprite2.png') no-repeat -116px -55px;
            background-size: 126px 96px;
            width: 9px;
            height: 8px;
            display: block;
            position: absolute;
            top: 15px; left: 10px;
        }

        &:after {
            content: ' ';
            background: url('../img/sprite2.png') no-repeat -116px -44px;
            background-size: 126px 96px;
            width: 9px;
            height: 8px;
            position: absolute;
            top: 15px;
            right: 10px;
        }

        p {
            color: white;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 0.65em;
            font-weight: 500;
        }
    }

    .heading-meter {
        @include translate(0, -60px);
        .rocket-left {
            background: url('../img/sprite2.png') no-repeat -61px -69px;
            background-size: 126px 96px;
            width: 36px;
            height: 24px;
            position: absolute;
            top: 270px;
            left: 40px;
        }

        .rocket-right {
            background: url('../img/sprite2.png') no-repeat -23px -69px;
            background-size: 126px 96px;
            width: 35px;
            height: 23px;
            position: absolute;
            top: 270px;
            right: 40px;
        }

        .rocket-up {
            background: url('../img/sprite2.png') no-repeat 0 -63px;
            background-size: 126px 96px;
            width: 23px;
            height: 33px;
            top: 230px;
            left: 50%;
            margin-left: -11px;
            position: absolute;
        }

        .indicator-holder {
            width: 136px;
            height: 3px;
            @include border-radius(3px);
            background-color: #efefef;
            top: 280px;
            position: absolute;
            left: 50%;
            margin-left: -68px;

            .indicator {
                width: 5px;
                height: 14px;
                @include border-radius(7px);
                background-color: #ec5330;
                position: absolute;
                top: -5px; left: 50%;
                display: block;
                margin-left: -2px;
            }
        }

        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease-in-out);

        @include opacity(1);
        @include transition-delay(0.2s);
    }

    .heading-instructions {
        width: 284px;
        display: block;
        position: absolute;
        text-align: center;
        top: 310px;
        left: 50%;
        margin-left: -142px;
        @include border-radius(3px);
        background-color: rgba(0, 0, 0, 0.2);
        line-height: 40px;

        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease-in-out);

        @include translate(0, 0);
        @include opacity(1);

        &:before {
            content: ' ';
            background: url('../img/sprite2.png') no-repeat -114px -24px;
            background-size: 126px 96px;
            width: 12px;
            height: 17px;
            display: block;
            position: absolute;
            top: 12px; left: 13px;
        }

        &:after {
            content: ' ';
            background: url('../img/sprite2.png') no-repeat -114px -3px;
            background-size: 126px 96px;
            width: 12px;
            height: 17px;
            position: absolute;
            top: 12px;
            right: 13px;
        }

        p {
            color: white;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 0.65em;
            font-weight: 500;
        }
    }
}

#speedSlider.out {
    .heading-instructions {
        @include translate(0, 20px);
        @include opacity(0);
    }

    .heading-meter {
        @include translate(0, -40px);
        @include opacity(0);
    }

    .speed-instructions {
        @include translate(0, 20px);
        @include opacity(0);
    }

    .speed-o-meter {
        @include translate(0, 20px);
        @include opacity(0);
    }

    h1 {
        @include translate(0, 20px);
        @include opacity(0);
    }
}

#restartButton {
    width: 200px;
    line-height: 40px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    @include border-radius(4px);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #efefef;
    color: #2e2a36;
    text-decoration: none;

    @include transition-property(all);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in-out);
    @include translate(0, 0);

    @include opacity(1);
    @include transition-delay(1.2s);

    &.out {
        @include opacity(0);
        @include translate(0, 20px);
    }
}

.hide {
    display: none !important;
}