/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'sequibold';
  src: url("fonts/sequi_bold-webfont.eot");
  src: url("fonts/sequi_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sequi_bold-webfont.woff") format("woff"), url("fonts/sequi_bold-webfont.ttf") format("truetype"), url("fonts/sequi_bold-webfont.svg#sequibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/modules/_canvas.scss */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/modules/_canvas.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3449), color-stop(100%, #1f1f21));
  background-image: -webkit-linear-gradient(#3c3449, #1f1f21);
  background-image: -moz-linear-gradient(#3c3449, #1f1f21);
  background-image: -o-linear-gradient(#3c3449, #1f1f21);
  background-image: linear-gradient(#3c3449, #1f1f21);
}

/* line 12, ../sass/modules/_canvas.scss */
.canvas-wrapper {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  position: relative;
}
/* line 20, ../sass/modules/_canvas.scss */
.canvas-wrapper #canvas {
  width: 500px;
  height: 700px;
  border: 5px solid #efefef;
  overflow: hidden;
}
/* line 27, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions {
  width: 400px;
  display: block;
  position: absolute;
  top: 150px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
  color: #efefee;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 47, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions span {
  display: block;
  font-family: 'Arial';
  font-size: 1.8em;
  color: #ffe15f;
  line-height: 2em;
}
/* line 55, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions a {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
  color: #efefef;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #efefef;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 70, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 75, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions.out {
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* line 1, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats {
  width: 500px;
  margin: 20px auto 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
  color: #efefee;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 16, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats.out {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
/* line 21, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats .code {
  display: inline-block;
  width: 170px;
  margin-left: 10px;
  position: relative;
  top: -6px;
}
/* line 29, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats span {
  font-family: 'Arial';
  font-size: 1.2em;
  color: #ffe15f;
  line-height: 2em;
}
/* line 36, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats .controller {
  width: 17px;
  height: 25px;
  background: url("../img/phone.png") center center no-repeat;
  display: inline-block;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 46, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats .controller.dim {
  opacity: 0.3;
}

/* line 1, ../sass/modules/_mute.scss */
#mute {
  background: url("../img/sound.png") center center no-repeat;
  width: 20px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: 25px;
}
/* line 8, ../sass/modules/_mute.scss */
#mute.dim {
  opacity: 0.3;
}

/* line 1, ../sass/modules/_debug.scss */
div.indicator {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
}
/* line 8, ../sass/modules/_debug.scss */
div.indicator.true {
  background: green;
}
/* line 11, ../sass/modules/_debug.scss */
div.indicator.false {
  background: red;
}

/* line 16, ../sass/modules/_debug.scss */
#inbound {
  left: 10px;
}

/* line 20, ../sass/modules/_debug.scss */
#crash {
  left: 70px;
}

/* line 24, ../sass/modules/_debug.scss */
.hide {
  display: none !important;
}

/* line 1, ../sass/modules/_launchscreen.scss */
.launchscreen {
  width: 500px;
  height: 700px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 11, ../sass/modules/_launchscreen.scss */
.launchscreen.out .ufo-left {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  -o-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}
/* line 15, ../sass/modules/_launchscreen.scss */
.launchscreen.out .app-name {
  -webkit-transform: translate(-20px, 0);
  -moz-transform: translate(-20px, 0);
  -ms-transform: translate(-20px, 0);
  -o-transform: translate(-20px, 0);
  transform: translate(-20px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 20, ../sass/modules/_launchscreen.scss */
.launchscreen.out #launch {
  -webkit-transform: translate(30px, 0);
  -moz-transform: translate(30px, 0);
  -ms-transform: translate(30px, 0);
  -o-transform: translate(30px, 0);
  transform: translate(30px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 25, ../sass/modules/_launchscreen.scss */
.launchscreen.out .ufo-right {
  -webkit-transform: translate(100px, 10px);
  -moz-transform: translate(100px, 10px);
  -ms-transform: translate(100px, 10px);
  -o-transform: translate(100px, 10px);
  transform: translate(100px, 10px);
}
/* line 29, ../sass/modules/_launchscreen.scss */
.launchscreen.out .planet-left {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 33, ../sass/modules/_launchscreen.scss */
.launchscreen.out .planet-right {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 37, ../sass/modules/_launchscreen.scss */
.launchscreen.out .field-left {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 41, ../sass/modules/_launchscreen.scss */
.launchscreen.out .field-right {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 45, ../sass/modules/_launchscreen.scss */
.launchscreen.out .rocket {
  -webkit-transform: translate(0, 400px);
  -moz-transform: translate(0, 400px);
  -ms-transform: translate(0, 400px);
  -o-transform: translate(0, 400px);
  transform: translate(0, 400px);
}
/* line 49, ../sass/modules/_launchscreen.scss */
.launchscreen.out .star {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 53, ../sass/modules/_launchscreen.scss */
.launchscreen.out .credits {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
}
/* line 58, ../sass/modules/_launchscreen.scss */
.launchscreen .ufo-left {
  background-image: url(../img/launch/ufo-left.png);
  width: 72px;
  height: 48px;
  position: absolute;
  top: 50px;
  left: 35px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 74, ../sass/modules/_launchscreen.scss */
.launchscreen .ufo-right {
  background-image: url(../img/launch/ufo-right.png);
  width: 163px;
  height: 104px;
  position: absolute;
  top: 245px;
  left: 408px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.7;
  -moz-transition-delay: 0.7;
  -o-transition-delay: 0.7;
  transition-delay: 0.7;
}
/* line 91, ../sass/modules/_launchscreen.scss */
.launchscreen .app-name {
  font-family: 'sequibold';
  color: rgba(0, 0, 0, 0.21);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  position: relative;
  -webkit-transform: translateZ(0);
  top: 100px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 111, ../sass/modules/_launchscreen.scss */
.launchscreen #launch {
  width: 283px;
  position: absolute;
  top: 153px;
  left: 50%;
  -webkit-transform: translateZ(0);
  margin-left: -141px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  background-color: #eeeeee;
  background-image: url(../img/launch/launch.png);
  background-position: center center;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 64px;
  display: block;
  -webkit-box-shadow: #999999 0px 6px 0px;
  -moz-box-shadow: #999999 0px 6px 0px;
  box-shadow: #999999 0px 6px 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 136, ../sass/modules/_launchscreen.scss */
.launchscreen #launch.out {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0, -40px);
  -moz-transform: translate(0, -40px);
  -ms-transform: translate(0, -40px);
  -o-transform: translate(0, -40px);
  transform: translate(0, -40px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 142, ../sass/modules/_launchscreen.scss */
.launchscreen #launch:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: #999999 0px 3px 0px;
  -moz-box-shadow: #999999 0px 3px 0px;
  box-shadow: #999999 0px 3px 0px;
  top: 156px;
}
/* line 149, ../sass/modules/_launchscreen.scss */
.launchscreen .star {
  background-image: url(../img/star.png);
  width: 22px;
  height: 22px;
  position: absolute;
  pointer-events: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 162, ../sass/modules/_launchscreen.scss */
.launchscreen .star.star-left {
  top: 465px;
  left: 20px;
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 168, ../sass/modules/_launchscreen.scss */
.launchscreen .star.star-right {
  top: 615px;
  right: 40px;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
/* line 175, ../sass/modules/_launchscreen.scss */
.launchscreen .planet-left {
  background-image: url(../img/launch/planet-left.png);
  -webkit-transform: translateZ(0);
  width: 174px;
  height: 169px;
  position: absolute;
  top: 550px;
  left: -7px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 193, ../sass/modules/_launchscreen.scss */
.launchscreen .field-left {
  background-color: rgba(72, 67, 86, 0.1);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 415px;
  -moz-border-radius: 415px;
  -ms-border-radius: 415px;
  -o-border-radius: 415px;
  border-radius: 415px;
  border: 2px solid #3f3a49;
  width: 415px;
  height: 415px;
  position: absolute;
  top: 420px;
  left: -120px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
/* line 212, ../sass/modules/_launchscreen.scss */
.launchscreen .rocket {
  background-image: url(../img/launch/rocket.png);
  -webkit-transform: translateZ(0);
  width: 352px;
  height: 380px;
  pointer-events: none;
  position: absolute;
  top: 320px;
  left: 74px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 228, ../sass/modules/_launchscreen.scss */
.launchscreen .planet-right {
  background-image: url(../img/launch/planet-right.png);
  width: 111px;
  height: 108px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  position: absolute;
  top: 465px;
  right: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.3s;
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
/* line 245, ../sass/modules/_launchscreen.scss */
.launchscreen .field-right {
  background-color: rgba(72, 67, 86, 0.1);
  -webkit-border-radius: 415px;
  -moz-border-radius: 415px;
  -ms-border-radius: 415px;
  -o-border-radius: 415px;
  border-radius: 415px;
  border: 2px solid #3f3a49;
  -webkit-transform: translateZ(0);
  width: 325px;
  height: 325px;
  position: absolute;
  top: 354px;
  left: 237px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 264, ../sass/modules/_launchscreen.scss */
.launchscreen .credits {
  background-image: url(../img/launch/credits.png);
  width: 221px;
  height: 35px;
  -webkit-transform: translateZ(0);
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Bitter', sans-serif;
  text-align: center;
  font-size: 0.8em;
  color: #eeeeee;
  line-height: 3.2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
/* line 283, ../sass/modules/_launchscreen.scss */
.launchscreen .credits a {
  color: #f6d3ad;
  text-decoration: none;
}

/* line 1, ../sass/modules/_restartscreen.scss */
.restartscreen {
  width: 500px;
  height: 700px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 10, ../sass/modules/_restartscreen.scss */
.restartscreen p {
  width: 400px;
  display: block;
  position: absolute;
  top: 150px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
  color: #efefee;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 31, ../sass/modules/_restartscreen.scss */
.restartscreen .ufo-left {
  -webkit-transform: translateZ(0);
  background-image: url(../img/restart/ufo-left.png);
  width: 165px;
  height: 104px;
  position: absolute;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  top: 274px;
  left: -64px;
}
/* line 43, ../sass/modules/_restartscreen.scss */
.restartscreen .ufo-right {
  -webkit-transform: translateZ(0);
  background-image: url(../img/restart/ufo-right.png);
  width: 72px;
  height: 48px;
  position: absolute;
  top: 30px;
  right: 10px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 56, ../sass/modules/_restartscreen.scss */
.restartscreen .app-name {
  -webkit-transform: translateZ(0);
  font-family: 'sequibold';
  color: rgba(0, 0, 0, 0.21);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  position: relative;
  -webkit-transform: translateZ(0);
  top: 100px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 77, ../sass/modules/_restartscreen.scss */
.restartscreen #restart {
  -webkit-transform: translateZ(0);
  width: 283px;
  position: absolute;
  top: 153px;
  left: 50%;
  margin-left: -141px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  background-color: #eeeeee;
  background-image: url(../img/restart/restart.png);
  background-position: center center;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 64px;
  display: block;
  -webkit-box-shadow: #999999 0px 6px 0px;
  -moz-box-shadow: #999999 0px 6px 0px;
  box-shadow: #999999 0px 6px 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 108, ../sass/modules/_restartscreen.scss */
.restartscreen #restart:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: #999999 0px 3px 0px;
  -moz-box-shadow: #999999 0px 3px 0px;
  box-shadow: #999999 0px 3px 0px;
  top: 156px;
}
/* line 115, ../sass/modules/_restartscreen.scss */
.restartscreen .fire {
  -webkit-transform: translateZ(0);
  pointer-events: none;
  background-image: url(../img/restart/fire.png);
  width: 356px;
  height: 332px;
  position: absolute;
  top: 362px;
  left: 71px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
/* line 129, ../sass/modules/_restartscreen.scss */
.restartscreen .gravity-field {
  -webkit-transform: translateZ(0);
  background-color: rgba(72, 67, 86, 0.1);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 415px;
  -moz-border-radius: 415px;
  -ms-border-radius: 415px;
  -o-border-radius: 415px;
  border-radius: 415px;
  border: 2px solid #3f3a49;
  width: 415px;
  height: 415px;
  position: absolute;
  top: 325px;
  left: 41px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 148, ../sass/modules/_restartscreen.scss */
.restartscreen .tip {
  -webkit-transform: translateZ(0);
  background-color: #3c3449;
  width: 390px;
  height: 40px;
  pointer-events: none;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: #d39f4c 0px 3px 0px;
  -moz-box-shadow: #d39f4c 0px 3px 0px;
  box-shadow: #d39f4c 0px 3px 0px;
  position: absolute;
  top: 630px;
  left: 50%;
  margin-left: -195px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7;
  -moz-transition-duration: 0.7;
  -o-transition-duration: 0.7;
  transition-duration: 0.7;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 164, ../sass/modules/_restartscreen.scss */
.restartscreen .tip span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Bitter';
  color: #eeeeee;
  line-height: 40px;
}
/* line 175, ../sass/modules/_restartscreen.scss */
.restartscreen .planetPiecesLayer {
  pointer-events: none;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 182, ../sass/modules/_restartscreen.scss */
.restartscreen .planetPiecesLayer.layer1 {
  -webkit-transform: translateZ(0);
  background: url(../img/restart/layer1.png);
  width: 389px;
  height: 275px;
  top: 430px;
  left: 99px;
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 190, ../sass/modules/_restartscreen.scss */
.restartscreen .planetPiecesLayer.layer2 {
  -webkit-transform: translateZ(0);
  background: url(../img/restart/layer2.png);
  width: 484px;
  height: 558px;
  top: 130px;
  left: -9px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 198, ../sass/modules/_restartscreen.scss */
.restartscreen .planetPiecesLayer.layer3 {
  -webkit-transform: translateZ(0);
  background: url(../img/restart/layer3.png);
  width: 371px;
  height: 585px;
  top: 31px;
  left: 99px;
  -webkit-transition-delay: 1.1s;
  -moz-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
/* line 206, ../sass/modules/_restartscreen.scss */
.restartscreen .planetPiecesLayer.layer4 {
  -webkit-transform: translateZ(0);
  background: url(../img/restart/layer4.png);
  width: 356px;
  height: 594px;
  top: 39px;
  left: 19px;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
/* line 215, ../sass/modules/_restartscreen.scss */
.restartscreen .rocketPiece {
  pointer-events: none;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 223, ../sass/modules/_restartscreen.scss */
.restartscreen .rocketPiece.rocket1 {
  -webkit-transform: translateZ(0);
  background: url(../img/restart/rocket1.png);
  width: 43px;
  height: 180px;
  top: 309px;
  left: 127px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 232, ../sass/modules/_restartscreen.scss */
.restartscreen .rocketPiece.rocket2 {
  -webkit-transform: translateZ(0);
  background: url(../img/restart/rocket2.png);
  width: 75px;
  height: 171px;
  top: 396px;
  left: 205px;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 241, ../sass/modules/_restartscreen.scss */
.restartscreen .rocketPiece.rocket3 {
  -webkit-transform: translateZ(0);
  background-image: url(../img/restart/rocket3.png);
  width: 42px;
  height: 119px;
  top: 298px;
  left: 362px;
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 250, ../sass/modules/_restartscreen.scss */
.restartscreen .rocketPiece.rocket4 {
  -webkit-transform: translateZ(0);
  background-image: url(../img/restart/rocket4.png);
  width: 61px;
  height: 118px;
  top: 544px;
  left: 60px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 260, ../sass/modules/_restartscreen.scss */
.restartscreen .star {
  pointer-events: none;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  background-image: url(../img/star.png);
  width: 22px;
  height: 22px;
}
/* line 270, ../sass/modules/_restartscreen.scss */
.restartscreen .star.star1 {
  -webkit-transform: translateZ(0);
  top: 353px;
  left: 221px;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
/* line 278, ../sass/modules/_restartscreen.scss */
.restartscreen .star.star2 {
  -webkit-transform: translateZ(0);
  top: 270px;
  left: 440px;
  -webkit-transform: rotate(43deg);
  -moz-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  -o-transform: rotate(43deg);
  transform: rotate(43deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 1.6s;
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
/* line 286, ../sass/modules/_restartscreen.scss */
.restartscreen .star.star3 {
  -webkit-transform: translateZ(0);
  top: 631px;
  left: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 1.75s;
  -moz-transition-delay: 1.75s;
  -o-transition-delay: 1.75s;
  transition-delay: 1.75s;
}
/* line 294, ../sass/modules/_restartscreen.scss */
.restartscreen .star.star4 {
  -webkit-transform: translateZ(0);
  top: 663px;
  left: 461px;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 1.9s;
  -moz-transition-delay: 1.9s;
  -o-transition-delay: 1.9s;
  transition-delay: 1.9s;
}
/* line 305, ../sass/modules/_restartscreen.scss */
.restartscreen.out .app-name {
  -webkit-transform: translate(-20px, 0);
  -moz-transform: translate(-20px, 0);
  -ms-transform: translate(-20px, 0);
  -o-transform: translate(-20px, 0);
  transform: translate(-20px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 311, ../sass/modules/_restartscreen.scss */
.restartscreen.out #restart, .restartscreen.out p {
  -webkit-transform: translate(30px, 0);
  -moz-transform: translate(30px, 0);
  -ms-transform: translate(30px, 0);
  -o-transform: translate(30px, 0);
  transform: translate(30px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 316, ../sass/modules/_restartscreen.scss */
.restartscreen.out .ufo-left {
  -webkit-transform: translate(-150px, 0);
  -moz-transform: translate(-150px, 0);
  -ms-transform: translate(-150px, 0);
  -o-transform: translate(-150px, 0);
  transform: translate(-150px, 0);
  pointer-events: none;
}
/* line 321, ../sass/modules/_restartscreen.scss */
.restartscreen.out .ufo-right {
  -webkit-transform: translate(90px, 0);
  -moz-transform: translate(90px, 0);
  -ms-transform: translate(90px, 0);
  -o-transform: translate(90px, 0);
  transform: translate(90px, 0);
  pointer-events: none;
}
/* line 326, ../sass/modules/_restartscreen.scss */
.restartscreen.out .star1, .restartscreen.out .star2, .restartscreen.out .star3, .restartscreen.out .star4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 330, ../sass/modules/_restartscreen.scss */
.restartscreen.out .gravity-field {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  pointer-events: none;
}
/* line 335, ../sass/modules/_restartscreen.scss */
.restartscreen.out .layer1, .restartscreen.out .layer4 {
  -webkit-transform: translate(-500px, 0);
  -moz-transform: translate(-500px, 0);
  -ms-transform: translate(-500px, 0);
  -o-transform: translate(-500px, 0);
  transform: translate(-500px, 0);
  pointer-events: none;
}
/* line 340, ../sass/modules/_restartscreen.scss */
.restartscreen.out .layer2, .restartscreen.out .layer3 {
  -webkit-transform: translate(530px, 0);
  -moz-transform: translate(530px, 0);
  -ms-transform: translate(530px, 0);
  -o-transform: translate(530px, 0);
  transform: translate(530px, 0);
  pointer-events: none;
}
/* line 345, ../sass/modules/_restartscreen.scss */
.restartscreen.out .fire {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 350, ../sass/modules/_restartscreen.scss */
.restartscreen.out .rocket1 {
  -webkit-transform: translate(0, 400px);
  -moz-transform: translate(0, 400px);
  -ms-transform: translate(0, 400px);
  -o-transform: translate(0, 400px);
  transform: translate(0, 400px);
  pointer-events: none;
}
/* line 355, ../sass/modules/_restartscreen.scss */
.restartscreen.out .rocket2 {
  -webkit-transform: translate(0, 300px);
  -moz-transform: translate(0, 300px);
  -ms-transform: translate(0, 300px);
  -o-transform: translate(0, 300px);
  transform: translate(0, 300px);
  pointer-events: none;
}
/* line 360, ../sass/modules/_restartscreen.scss */
.restartscreen.out .rocket3 {
  -webkit-transform: translate(0, 410px);
  -moz-transform: translate(0, 410px);
  -ms-transform: translate(0, 410px);
  -o-transform: translate(0, 410px);
  transform: translate(0, 410px);
  pointer-events: none;
}
/* line 365, ../sass/modules/_restartscreen.scss */
.restartscreen.out .rocket4 {
  -webkit-transform: translate(0, 170px);
  -moz-transform: translate(0, 170px);
  -ms-transform: translate(0, 170px);
  -o-transform: translate(0, 170px);
  transform: translate(0, 170px);
  pointer-events: none;
}
/* line 370, ../sass/modules/_restartscreen.scss */
.restartscreen.out .tip {
  -webkit-transform: translate(0, 85px);
  -moz-transform: translate(0, 85px);
  -ms-transform: translate(0, 85px);
  -o-transform: translate(0, 85px);
  transform: translate(0, 85px);
  pointer-events: none;
}
