/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'sequibold';
  src: url("fonts/sequi_bold-webfont.eot");
  src: url("fonts/sequi_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sequi_bold-webfont.woff") format("woff"), url("fonts/sequi_bold-webfont.ttf") format("truetype"), url("fonts/sequi_bold-webfont.svg#sequibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/modules/_canvas.scss */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/modules/_canvas.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3449), color-stop(100%, #1f1f21));
  background-image: -webkit-linear-gradient(#3c3449, #1f1f21);
  background-image: -moz-linear-gradient(#3c3449, #1f1f21);
  background-image: -o-linear-gradient(#3c3449, #1f1f21);
  background-image: linear-gradient(#3c3449, #1f1f21);
}

/* line 12, ../sass/modules/_canvas.scss */
.canvas-wrapper {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  position: relative;
}
/* line 20, ../sass/modules/_canvas.scss */
.canvas-wrapper #canvas {
  width: 500px;
  height: 700px;
  border: 5px solid #efefef;
  overflow: hidden;
}
/* line 27, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions {
  width: 400px;
  display: block;
  position: absolute;
  top: 150px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
  color: #efefee;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 47, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions span {
  display: block;
  font-family: 'Arial';
  font-size: 1.8em;
  color: #ffe15f;
  line-height: 2em;
}
/* line 55, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions a {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
  color: #efefef;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #efefef;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 70, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 75, ../sass/modules/_canvas.scss */
.canvas-wrapper .connect-instructions.out {
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 82, ../sass/modules/_canvas.scss */
.canvas-wrapper .restart-instructions-controller {
  width: 400px;
  display: block;
  position: absolute;
  top: 300px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
  color: #efefee;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 102, ../sass/modules/_canvas.scss */
.canvas-wrapper .restart-instructions-controller.out {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 109, ../sass/modules/_canvas.scss */
.canvas-wrapper .restart-instructions-no-controller {
  width: 400px;
  display: block;
  position: absolute;
  top: 300px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
  color: #efefee;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 130, ../sass/modules/_canvas.scss */
.canvas-wrapper .restart-instructions-no-controller a {
  width: 200px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #efefef;
  color: #2e2a36;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  position: relative;
  top: 10px;
}
/* line 146, ../sass/modules/_canvas.scss */
.canvas-wrapper .restart-instructions-no-controller.out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  pointer-events: none;
}

/* line 1, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats {
  width: 500px;
  margin: 20px auto 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.4em;
  color: #efefee;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 16, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats.out {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
/* line 21, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats .code {
  display: inline-block;
  width: 170px;
  margin-left: 10px;
  position: relative;
  top: -6px;
}
/* line 29, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats span {
  font-family: 'Arial';
  font-size: 1.2em;
  color: #ffe15f;
  line-height: 2em;
}
/* line 36, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats .controller {
  width: 17px;
  height: 25px;
  background: url("../img/phone.png") center center no-repeat;
  display: inline-block;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 46, ../sass/modules/_multiplayerstats.scss */
#multiplayerstats .controller.dim {
  opacity: 0.3;
}

/* line 1, ../sass/modules/_mute.scss */
#mute {
  background: url("../img/sound.png") center center no-repeat;
  width: 20px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: 25px;
}
/* line 8, ../sass/modules/_mute.scss */
#mute.dim {
  opacity: 0.3;
}

/* line 1, ../sass/modules/_tips.scss */
.tip {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  top: 260px;
  font-weight: bold;
  color: #625c6d;
  padding: 10px 0 10px 0;
}
/* line 11, ../sass/modules/_tips.scss */
.tip span {
  display: block;
  color: white;
  font-weight: normal;
}

/* line 1, ../sass/modules/_debug.scss */
div.indicator {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
}
/* line 8, ../sass/modules/_debug.scss */
div.indicator.true {
  background: green;
}
/* line 11, ../sass/modules/_debug.scss */
div.indicator.false {
  background: red;
}

/* line 16, ../sass/modules/_debug.scss */
#inbound {
  left: 10px;
}

/* line 20, ../sass/modules/_debug.scss */
#crash {
  left: 70px;
}

/* line 24, ../sass/modules/_debug.scss */
.hide {
  display: none !important;
}

/* line 1, ../sass/modules/_launchscreen.scss */
.launchscreen {
  width: 500px;
  height: 700px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 11, ../sass/modules/_launchscreen.scss */
.launchscreen.out .ufo-left {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  -o-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}
/* line 15, ../sass/modules/_launchscreen.scss */
.launchscreen.out .app-name {
  -webkit-transform: translate(-20px, 0);
  -moz-transform: translate(-20px, 0);
  -ms-transform: translate(-20px, 0);
  -o-transform: translate(-20px, 0);
  transform: translate(-20px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 20, ../sass/modules/_launchscreen.scss */
.launchscreen.out #launch {
  -webkit-transform: translate(30px, 0);
  -moz-transform: translate(30px, 0);
  -ms-transform: translate(30px, 0);
  -o-transform: translate(30px, 0);
  transform: translate(30px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 25, ../sass/modules/_launchscreen.scss */
.launchscreen.out .ufo-right {
  -webkit-transform: translate(100px, 10px);
  -moz-transform: translate(100px, 10px);
  -ms-transform: translate(100px, 10px);
  -o-transform: translate(100px, 10px);
  transform: translate(100px, 10px);
}
/* line 29, ../sass/modules/_launchscreen.scss */
.launchscreen.out .planet-left {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 33, ../sass/modules/_launchscreen.scss */
.launchscreen.out .planet-right {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 37, ../sass/modules/_launchscreen.scss */
.launchscreen.out .field-left {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 41, ../sass/modules/_launchscreen.scss */
.launchscreen.out .field-right {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 45, ../sass/modules/_launchscreen.scss */
.launchscreen.out .rocket {
  -webkit-transform: translate(0, 400px);
  -moz-transform: translate(0, 400px);
  -ms-transform: translate(0, 400px);
  -o-transform: translate(0, 400px);
  transform: translate(0, 400px);
}
/* line 49, ../sass/modules/_launchscreen.scss */
.launchscreen.out .star-left {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 53, ../sass/modules/_launchscreen.scss */
.launchscreen.out .star-right {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 57, ../sass/modules/_launchscreen.scss */
.launchscreen.out .credits {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

/* line 63, ../sass/modules/_launchscreen.scss */
.ufo-left {
  background-image: url(../img/launch/ufo-left.png);
  width: 72px;
  height: 48px;
  position: absolute;
  top: 50px;
  left: 35px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 79, ../sass/modules/_launchscreen.scss */
.ufo-right {
  background-image: url(../img/launch/ufo-right.png);
  width: 163px;
  height: 104px;
  position: absolute;
  top: 245px;
  left: 408px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.7;
  -moz-transition-delay: 0.7;
  -o-transition-delay: 0.7;
  transition-delay: 0.7;
}

/* line 96, ../sass/modules/_launchscreen.scss */
.app-name {
  font-family: 'sequibold';
  color: rgba(0, 0, 0, 0.21);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  position: relative;
  -webkit-transform: translateZ(0);
  top: 100px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 116, ../sass/modules/_launchscreen.scss */
#launch {
  width: 283px;
  position: absolute;
  top: 153px;
  left: 50%;
  -webkit-transform: translateZ(0);
  margin-left: -141px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  background-color: #eeeeee;
  background-image: url(../img/launch/launch.png);
  background-position: center center;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 64px;
  display: block;
  -webkit-box-shadow: #999999 0px 6px 0px;
  -moz-box-shadow: #999999 0px 6px 0px;
  box-shadow: #999999 0px 6px 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 141, ../sass/modules/_launchscreen.scss */
#launch.out {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0, -40px);
  -moz-transform: translate(0, -40px);
  -ms-transform: translate(0, -40px);
  -o-transform: translate(0, -40px);
  transform: translate(0, -40px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 147, ../sass/modules/_launchscreen.scss */
#launch:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: #999999 0px 3px 0px;
  -moz-box-shadow: #999999 0px 3px 0px;
  box-shadow: #999999 0px 3px 0px;
  top: 156px;
}

/* line 154, ../sass/modules/_launchscreen.scss */
.star {
  background-image: url(../img/star.png);
  width: 22px;
  height: 22px;
  position: absolute;
  pointer-events: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 166, ../sass/modules/_launchscreen.scss */
.star.star-left {
  top: 465px;
  left: 20px;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 173, ../sass/modules/_launchscreen.scss */
.star.star-right {
  top: 615px;
  right: 40px;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

/* line 181, ../sass/modules/_launchscreen.scss */
.planet-left {
  background-image: url(../img/launch/planet-left.png);
  -webkit-transform: translateZ(0);
  width: 174px;
  height: 169px;
  position: absolute;
  top: 550px;
  left: -7px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/* line 199, ../sass/modules/_launchscreen.scss */
.field-left {
  background-color: rgba(72, 67, 86, 0.1);
  -webkit-transform: translateZ(0);
  -webkit-border-radius: 415px;
  -moz-border-radius: 415px;
  -ms-border-radius: 415px;
  -o-border-radius: 415px;
  border-radius: 415px;
  border: 2px solid #3f3a49;
  width: 415px;
  height: 415px;
  position: absolute;
  top: 420px;
  left: -120px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

/* line 218, ../sass/modules/_launchscreen.scss */
.rocket {
  background-image: url(../img/launch/rocket.png);
  -webkit-transform: translateZ(0);
  width: 352px;
  height: 380px;
  pointer-events: none;
  position: absolute;
  top: 320px;
  left: 74px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/* line 234, ../sass/modules/_launchscreen.scss */
.planet-right {
  background-image: url(../img/launch/planet-right.png);
  width: 111px;
  height: 108px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  position: absolute;
  top: 465px;
  right: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.3s;
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

/* line 251, ../sass/modules/_launchscreen.scss */
.field-right {
  background-color: rgba(72, 67, 86, 0.1);
  -webkit-border-radius: 415px;
  -moz-border-radius: 415px;
  -ms-border-radius: 415px;
  -o-border-radius: 415px;
  border-radius: 415px;
  border: 2px solid #3f3a49;
  -webkit-transform: translateZ(0);
  width: 325px;
  height: 325px;
  position: absolute;
  top: 354px;
  left: 237px;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/* line 270, ../sass/modules/_launchscreen.scss */
.credits {
  background-image: url(../img/launch/credits.png);
  width: 221px;
  height: 35px;
  -webkit-transform: translateZ(0);
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Bitter', sans-serif;
  text-align: center;
  font-size: 0.8em;
  color: #eeeeee;
  line-height: 3.2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
/* line 289, ../sass/modules/_launchscreen.scss */
.credits a {
  color: #f6d3ad;
  text-decoration: none;
}
