@font-face {
  font-family: 'sequibold';
  src: url("fonts/sequi_bold-webfont.eot");
  src: url("fonts/sequi_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sequi_bold-webfont.woff") format("woff"), url("fonts/sequi_bold-webfont.ttf") format("truetype"), url("fonts/sequi_bold-webfont.svg#sequibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../scss/style.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 21, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3449), color-stop(100%, #1f1f21));
  background-image: -webkit-linear-gradient(#3c3449, #1f1f21);
  background-image: -moz-linear-gradient(#3c3449, #1f1f21);
  background-image: -o-linear-gradient(#3c3449, #1f1f21);
  background-image: linear-gradient(#3c3449, #1f1f21);
}

/* line 27, ../scss/style.scss */
h1 {
  font-family: 'sequibold';
  color: #efefef;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2.5em;
  padding-top: 30px;
}

/* line 37, ../scss/style.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b5b5b5;
}

/* line 40, ../scss/style.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b5b5b5;
}

/* line 43, ../scss/style.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b5b5b5;
}

/* line 46, ../scss/style.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b5b5b5;
}

/* line 50, ../scss/style.scss */
#login {
  position: relative;
  width: 266px;
  margin: 0 auto;
}

/* line 56, ../scss/style.scss */
#game-id {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  background-color: #eeeeee;
  -webkit-box-shadow: #999999 0px 4px 0px;
  -moz-box-shadow: #999999 0px 4px 0px;
  box-shadow: #999999 0px 4px 0px;
  border: none;
  display: block;
  margin-top: 25px;
  font-family: 'Bitter', sans-serif;
  color: #3c3448;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

/* line 73, ../scss/style.scss */
#game-id-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 64px;
  height: 64px;
  background-color: #d39f4c;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  border: none;
  color: #3c3449;
  font-family: 'Bitter', sans-serif;
  font-size: 1.1em;
  padding-left: -5px;
}

/* line 87, ../scss/style.scss */
#speedSlider {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 93, ../scss/style.scss */
#speedSlider h1 {
  font-size: 1.9em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 105, ../scss/style.scss */
#speedSlider .speed-o-meter {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -55px;
  background: url("../img/sprite2.png") no-repeat 0 0;
  background-size: 126px 96px;
  width: 110px;
  height: 52px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 123, ../scss/style.scss */
#speedSlider .speed-o-meter .needle-holder {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  background-color: #efefef;
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -7px;
}
/* line 134, ../scss/style.scss */
#speedSlider .speed-o-meter .needle {
  background: url("../img/sprite2.png") no-repeat -116px -65px;
  background-size: 126px 96px;
  width: 8px;
  height: 31px;
  position: absolute;
  top: 22px;
  left: 50%;
  margin-left: -4px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
}
/* line 154, ../scss/style.scss */
#speedSlider .speed-instructions {
  width: 284px;
  display: block;
  position: absolute;
  text-align: center;
  top: 160px;
  left: 50%;
  margin-left: -142px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 40px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 174, ../scss/style.scss */
#speedSlider .speed-instructions:before {
  content: ' ';
  background: url("../img/sprite2.png") no-repeat -116px -55px;
  background-size: 126px 96px;
  width: 9px;
  height: 8px;
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
}
/* line 185, ../scss/style.scss */
#speedSlider .speed-instructions:after {
  content: ' ';
  background: url("../img/sprite2.png") no-repeat -116px -44px;
  background-size: 126px 96px;
  width: 9px;
  height: 8px;
  position: absolute;
  top: 15px;
  right: 10px;
}
/* line 196, ../scss/style.scss */
#speedSlider .speed-instructions p {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.65em;
  font-weight: 500;
}
/* line 204, ../scss/style.scss */
#speedSlider .heading-meter {
  -webkit-transform: translate(0, -60px);
  -moz-transform: translate(0, -60px);
  -ms-transform: translate(0, -60px);
  -o-transform: translate(0, -60px);
  transform: translate(0, -60px);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 206, ../scss/style.scss */
#speedSlider .heading-meter .rocket-left {
  background: url("../img/sprite2.png") no-repeat -61px -69px;
  background-size: 126px 96px;
  width: 36px;
  height: 24px;
  position: absolute;
  top: 270px;
  left: 40px;
}
/* line 216, ../scss/style.scss */
#speedSlider .heading-meter .rocket-right {
  background: url("../img/sprite2.png") no-repeat -23px -69px;
  background-size: 126px 96px;
  width: 35px;
  height: 23px;
  position: absolute;
  top: 270px;
  right: 40px;
}
/* line 226, ../scss/style.scss */
#speedSlider .heading-meter .rocket-up {
  background: url("../img/sprite2.png") no-repeat 0 -63px;
  background-size: 126px 96px;
  width: 23px;
  height: 33px;
  top: 230px;
  left: 50%;
  margin-left: -11px;
  position: absolute;
}
/* line 237, ../scss/style.scss */
#speedSlider .heading-meter .indicator-holder {
  width: 136px;
  height: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #efefef;
  top: 280px;
  position: absolute;
  left: 50%;
  margin-left: -68px;
}
/* line 247, ../scss/style.scss */
#speedSlider .heading-meter .indicator-holder .indicator {
  width: 5px;
  height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: #ec5330;
  position: absolute;
  top: -5px;
  left: 50%;
  display: block;
  margin-left: -2px;
}
/* line 267, ../scss/style.scss */
#speedSlider .heading-instructions {
  width: 284px;
  display: block;
  position: absolute;
  text-align: center;
  top: 310px;
  left: 50%;
  margin-left: -142px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 40px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 286, ../scss/style.scss */
#speedSlider .heading-instructions:before {
  content: ' ';
  background: url("../img/sprite2.png") no-repeat -114px -24px;
  background-size: 126px 96px;
  width: 12px;
  height: 17px;
  display: block;
  position: absolute;
  top: 12px;
  left: 13px;
}
/* line 297, ../scss/style.scss */
#speedSlider .heading-instructions:after {
  content: ' ';
  background: url("../img/sprite2.png") no-repeat -114px -3px;
  background-size: 126px 96px;
  width: 12px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 13px;
}
/* line 308, ../scss/style.scss */
#speedSlider .heading-instructions p {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.65em;
  font-weight: 500;
}

/* line 317, ../scss/style.scss */
.heading-instructions.dim, .heading-meter.dim, .speed-instructions.dim, .speed-o-meter.dim {
  opacity: 0.2 !important;
}

/* line 322, ../scss/style.scss */
#speedSlider.out .heading-instructions {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 327, ../scss/style.scss */
#speedSlider.out .heading-meter {
  -webkit-transform: translate(0, -40px);
  -moz-transform: translate(0, -40px);
  -ms-transform: translate(0, -40px);
  -o-transform: translate(0, -40px);
  transform: translate(0, -40px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 332, ../scss/style.scss */
#speedSlider.out .speed-instructions {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 337, ../scss/style.scss */
#speedSlider.out .speed-o-meter {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 342, ../scss/style.scss */
#speedSlider.out h1 {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 348, ../scss/style.scss */
#restartButton {
  -webkit-transform: translateZ(0);
  width: 283px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  line-height: 64px;
  margin-left: -141px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
  border-radius: 64px;
  background-color: #eeeeee;
  background-image: url(../img/restart.png);
  background-size: 50%;
  background-position: center center;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
  display: block;
  -webkit-box-shadow: #999999 0px 6px 0px;
  -moz-box-shadow: #999999 0px 6px 0px;
  box-shadow: #999999 0px 6px 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
/* line 373, ../scss/style.scss */
#restartButton.out {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0, 40px);
  -moz-transform: translate(0, 40px);
  -ms-transform: translate(0, 40px);
  -o-transform: translate(0, 40px);
  transform: translate(0, 40px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 379, ../scss/style.scss */
#restartButton:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  pointer-events: none;
}

/* line 386, ../scss/style.scss */
#tip {
  width: 284px;
  display: block;
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  margin-left: -142px;
  font-family: 'Bitter', Helvetica, Arial, sans-serif;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: #ffd154;
  font-weight: bold;
  line-height: 1.5em;
}
/* line 408, ../scss/style.scss */
#tip.out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  transform: translate(0, 20px);
  pointer-events: none;
}

/* line 415, ../scss/style.scss */
.hide {
  display: none !important;
}
