$blue: #0095b2;

$hello-regular: 'Hello regular';
$hello-bold: 'Hello bold';
$hello-light: 'Hello light';


@mixin font ($font-name, $color: $dark-blue, $size: 1em, $line-height: 1.45em, $bold: normal, $italic: normal) {
    color: $color;
    font: {
        family: $font-name;
        size: $size;
        style: $italic;
        weight: $bold;
    }
    line-height: $line-height;
}

@mixin font-hello-reg ($color: $blue, $size: 1em, $line-height: 1.45em, $bold: normal, $italic: normal) {
    @include font($hello-regular, $color, $size, $line-height, $bold, $italic);
}

@mixin font-hello-bold ($color: $blue, $size: 1em, $line-height: 1.1em, $bold: normal, $italic: normal) {
    @include font($hello-bold, $color, $size, $line-height, $bold, $italic);
}

@mixin font-hello-light ($color: $blue, $size: 1em, $line-height: 1.1em, $bold: normal, $italic: normal) {
    @include font($hello-light, $color, $size, $line-height, $bold, $italic);
}